@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model project1.Models.ViewModels.IndexViewModel
    <center>
        <!--This form takes in the information for the Appointment-->
        <h2>Group Information</h2>
        <p>Please enter your details, and we'll set up your appointment right away!</p>
        <form asp-action="AppointmentDetails" method="post">

            <!--Group Name Field-->
            <label>Group Name:</label>
            <input asp-for="@Model.Projects.GroupName" name="groupName" />
            <input type="hidden" asp-for="@Model.Projects.GroupName" />
            <br />

            <!--Group Size Field-->
            <label>Group Size:</label>
            <input asp-for="@Model.Projects.GroupSize" name="groupSize" />
            <input type="hidden" asp-for="@Model.Projects.GroupSize" />
            <br />

            <!--Email Field-->
            <label>Email Address:</label>
            <input asp-for="@Model.Projects.EmailAddress" name="emailAddress" />
            <input type="hidden" asp-for="@Model.Projects.EmailAddress" />
            <br />

            <!--Day and Time Field that is not editable-->
            <label>Date/Time</label>
            <input value="@Model.Time" asp-for="@Model.Projects.DayTime" name="dayTime" readonly />
            <input type="hidden" asp-for="@Model.Projects.DayTime" />
            <br />

            <!--Phone field-->
            <label>Phone Number:</label>
            <input asp-for="@Model.Projects.PhoneNumber" name="phoneNumber" />
            <input type="hidden" asp-for="@Model.Projects.PhoneNumber" />
            <br />

            <input class="btn btn-success" type="submit" value="Set Appointment" />
        </form>
    </center>
