@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model project1.Models.ViewModels.IndexViewModel
<h2>Group Information</h2>
<p>Please enter your details, and we'll set up your appointment right away!</p>
<form asp-action="Add" method="post">

    <label>Group Name:</label>
    <input asp-for="@Model.Projects.GroupName" />
    <br />
 
    <label>Group Size:</label>
    <input asp-for="@Model.Projects.GroupSize" />
    <br />

    <label>Email Address:</label>
    <input asp-for="@Model.Projects.EmailAddress"/>
    <br />

    <label>Date/Time</label>
    <input value="@Model.Time" asp-for="@Model.Projects.DayTime" readonly/>
    <br />

    <label>Phone Number:</label>
    <input asp-for="@Model.Projects.PhoneNumber"/>
    <br />

    <input class="btn btn-primary" type="submit" value="Set Appointment" />
</form>
